* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(183, 183, 231);
}
header {
    text-align: center;
    margin-top: 10px;
    padding: 19px;
    background-color: rgb(150, 150, 241);
}
.container{
    text-align: center;
    background-color: rgb(114, 114, 199);
    /*margin-left: 50%;
    margin-right: 50%;*/
    margin: auto;
    margin-bottom: 16px;
    max-width: 360px;
}

.container label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;

}
.container input {
    width: 100%;
    display: block;
    padding:8px;
    margin-bottom: 5px
}
form button {
    display: inline;
    border: none;
    width: 100%;
    padding: 6px 0;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgb(114, 114, 199);
    
}
footer {
    background-color: rgb(150, 150, 241);
    margin-top: 10px;
    padding: 19px;
    
}
